/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 5rem 0 0 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0%, 0%, 0.2);
}


/* ----- zde začni psát vlastní CSS ----- */
body {
	margin: 0;
}


.obal {
	width: auto;
}

.nav {
	margin: 0;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 4px hsla(0, 0%, 0%, 0.3);
	line-height: 1rem;
 }

.menu-item {
	color: #48418e;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 1rem;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	flex-basis: 50%;
  }

.homepage-menu-item {
	text-transform: uppercase;
	font-weight: 600;
}

.menu li:hover,
.menu li:focus,
.menu li:active {
	background-color: #48418e;
	transition: 300ms;
  transition-timing-function: ease-in;
  margin: 0;
	padding: 1.2rem;
	text-shadow: 0 0 4px hsla(0, 0%, 0%, 0.3);
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
  color: white;
  }

.menu li a {
  text-decoration: none;
  flex-basis: 50%;
}

.graficka-prezentace {
	background: linear-gradient( hsla(253, 91%, 31%, 0.4),  hsla(0, 0%, 0%, 0.4)), url(images/pozadi.jpg) ;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 2rem 0rem 0rem 2rem;
	text-shadow: 0 0 4px hsla(0, 0%, 0%, 0.);
	overflow: hidden;
	margin: 0;
  display: flex;
  }

  
.nazev-produktu {
	font-size: 2.5rem;
	margin: 0;
	font-weight: normal;
}

.titulek-popisy {
	font-size: 1.5rem;
	color: #48418e;
	text-align: center;
}

popis {
	font-size: 1rem;
	text-align: center;
	font-weight: 500;
	margin: 0;
}

.slogan {
	font-size: 1.5rem;
  font-family: 'Roboto';
	font-weight: 300;
	margin: 0;
	text-align: left;
	padding-top: 0;
}

.graficka-prezentace img {
	visibility: hidden;
	max-height: 0;
}

.popisy {
	padding: 0rem 2rem 2rem 2rem;
	margin: 0;
}

.tlacitka,
.nazev-produktu,
.slogan {
	color: white;
	margin: 0;
}

.nazev-produktu,
.slogan {
	color: white;
}


.tlacitka{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.tlacitko {
	border: 1px solid silver;
	border-radius: 0.5rem;
	text-align: center;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	font-size: 1rem;
	}

.stazeni {
  background-color: #48418e;
  }

.tlacitka a {
  text-decoration: none;
  color: white;
}

.tlacitko a:hover{
	color: white;
}

.viceinfo:hover {
  border: none;
  background-color: #48418e;
  transition: 300ms;
  transition-timing-function: ease-in;
}

.stazeni:hover {
  background: none;
  color: silver;
  border: 2px solid #24133D;
  transition-timing-function: ease-in;
}

.nadpis-popisu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obrazek-ikona {
	width: 50px;
}

footer {
	background-color: #48418e;
	color: white;
	text-align: center;
	padding: 1rem;
}

@media screen and (min-width: 600px) {
	.menu {
		display: flex;
		flex-wrap: nowrap;
		text-align: left;
		line-height: 2rem;
	}
	
	.menu-item {
   	font-size: 1.2rem;
		padding: 1.2rem;
	}

	.nazev-produktu {
		font-size: 5rem;
	}

	.produkt {
		display: flex;
		flex-direction: column;
	}
	
	.slogan {
		font-size: 2.5rem;
		max-width: 70%;
	}

  .tlacitka {
		flex-direction: row;
    justify-content: flex-start;
	}

  .tlacitko{
    flex-shrink: 2;
  }

	.tlacitko a {
		padding: 0.7rem 1.2rem;
		margin-top: 1.2rem;
		font-size: 1.2rem;
	}

	.viceinfo {
		margin-left: 1.2rem;
	}

	.popisy {
		padding: 0rem 2.2rem 2.2rem 2.2rem;
		margin: 0;
		display: flex;
	}

	.nadpis-popisu {
		padding: 2rem;
	}

	.titulek-popisy {
		font-size: 1.7rem;
    order: 2;
	}

	.popis {
		font-size: 1.2rem;
    order: 3;
	}

  .obrazek-ikona {
    order: 1;
  }
	
}

@media screen and (min-width: 860px) {

	

	.graficka-prezentace img {
		visibility: visible;
		max-height: 100%;
		}

	.obal {
		max-width: 960px;
	}

}